Demo_ My_AI_Agent_n8n.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Voici la liste des e-mails du jour au format JSON :\n{{ JSON.stringify($json.emails) }}\n\nAnalyse ces e-mails et rédige un résumé global en français.\n\nContraintes :\n- Ne mentionne pas \"Résumé\" ou d’introduction.\n- Ne formate pas en Markdown.\n- Ne renvoie **que** une phrase ou un paragraphe de résumé global incluant le nombre d'e-mails reçus(au lieu d'employer on, met vous à la place), sans texte additionnel avant ou après.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "41174c8a-6ac8-42bd-900e-ca15196600c5",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        32,
        32
      ]
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -32,
        288
      ],
      "id": "6b783883-bdd1-4f7f-828b-1a169f726899",
      "name": "Groq Chat Model",
      "notesInFlow": false,
      "credentials": {
        "groqApi": {
          "id": "PO7cvXpCc4euDGsh",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "options": {
          "customEmailConfig": "=[ \"UNSEEN\",  [\"SINCE\", \"{{ new Date( new Date().setHours(0, 0, 0, 0)) }}\"]]"
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -320,
        32
      ],
      "id": "15469f3d-df8a-40e7-9326-72d42b491587",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "31ykF8J2btnhlFbI",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      dateToday: $input.first().json.date,\n      emails: $input.all().map(item => ({\n        sender: item.json.from,\n        subject: item.json.subject,\n        date: item.json.date\n      }))\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        32
      ],
      "id": "2b4be4ee-8283-4383-937a-6f5c23c59f3f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.output || \"\";\nconst match = text.match(/\\{[\\s\\S]*\\}$/);\n\nlet summaryData;\ntry {\n  summaryData = match ? JSON.parse(match[0]) : { summary: text };\n} catch (e) {\n  summaryData = { summary: text };\n}\nreturn [{ json: summaryData }]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        32
      ],
      "id": "9593281f-2687-4f01-bced-5ab73160fb57",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea967a4f-fc1d-4ff6-be53-f67cdc53e928",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "68ef76cd-e925-4509-843b-3c02bf76c934",
              "name": "emails",
              "value": "={{ $node[\"Code in JavaScript\"].json.emails}}",
              "type": "array"
            },
            {
              "id": "dad8e555-3c71-40e3-a905-c054b3d69872",
              "name": "dateToday",
              "value": "={{ $node[\"Code in JavaScript\"].json.dateToday}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        32
      ],
      "id": "cfcb85e4-608a-40a8-8274-dcafbd99d070",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "C:\\Users\\hepoa\\Documents\\Mesprojets\\recapMail\\public\\mails-today.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        512,
        272
      ],
      "id": "79c39ff7-c101-454e-a3d8-60e7eb349689",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "myFile.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        672,
        32
      ],
      "id": "d6391e10-06ca-4bdc-807f-c0c276e66713",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "key_test"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        288
      ],
      "id": "798f8623-8c55-48eb-b7eb-a9c2ab1de51e",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c21542f9-3fa8-4bb9-99b1-d4be2212cf4d",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "77c494b69b636e9d60277220a8e8df0d360e313e0231bc090c6db604f50ee1c2"
  },
  "id": "MUTshGyxyMOLpFGx",
  "tags": []
}